body,
html {
	position: relative;
	margin: 0;
	padding: 0;
	overflow: auto;
	min-height: 100vh;
}

html {
	background-image: url('./assets/covid_pic.jpg');
	background-repeat: no-repeat;
	background-position: top right;
	background-size: 175px 175px;
}

@media (max-width: 750px) {
	html {
		background-size: 50px 50px;
	}
}

.App {
	text-align: center;
	min-height: 100vh;
	height: 100%;
}

.info-containers {
	display: flex;
	justify-content: center;
	width: 80%;
	margin: 0 auto;
	margin-top: 10px;
}

.info-containers > * {
	margin: 20px;
	min-height: 265px;
}

.county-info-container {
	padding-bottom: 9px;
}

.county-info-container,
.state-info-container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	/* padding: 0 15px 15px 15px; */
	padding-left: 15px;
	box-shadow: 0 0 10px 2px lightgray;
	border-radius: 8px;
}

.title {
	margin: 0 auto;
	background: rgb(128, 154, 211);
	margin-left: -15px;
	width: calc(100% + 15px);
	height: 100%;
	border-radius: 8px 8px 0 0;
}

.info-box {
	border-top: 0;
	padding: 10px;
	width: 100%;
	text-align: left;
	margin-bottom: 10px;
}

.info-box span {
	opacity: 0.6;
}

@media (max-width: 750px) {
	.info-containers {
		flex-direction: column;
	}
}

.footer {
	flex-basis: 100px;
}
.icons > * {
	padding: 0 5px;
	vertical-align: middle;
	font-size: 1.3rem;
	color: black;
}
.icons > *:active,
.icons > *:hover,
.icons > *:visited {
	color: black;
}

.footer-name {
	display: flex;
	justify-content: center;
}
